<header>
  <h1>Ember Iron</h1>
  <a target="_top" href="javascript: (function() { var s = document.createElement('script'); s.src = 'http://localhost:9191/bookmarklet/load_inspector.js'; document.body.appendChild(s); }());">Open Iron Inspector</a> (it may take a couple seconds to connect).
</header>

<main>
{{outlet}}
</main>

<footer>
{{iron-history history=ironState.history}}
</footer>
