<p>Ember-Iron keeps a log of all your state changes, try typing in the search box to see.</p>
<div>
  <label>Search: {{input type="text" value=(readonly searchText) key-up=(action "updateSearchText")}}</label>
</div>
